fastapi
websockets
uvicorn
pydantic
python-multipart
rich
dotenv 

# Llama Index for RAG
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-llms-gemini
llama-index-vector-stores-qdrant
qdrant-client
llama-index-tools-duckduckgo
json-repair
llama-index-postprocessor-colbert-rerank
llama-index-storage-docstore-mongodb

# observability
langfuse
openinference-instrumentation-llama-index

#utils
black
pylint