fastapi
pydantic
python-multipart

# Llama Index for RAG
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-llms-gemini
llama-index-vector-stores-qdrant
qdrant-client
llama-index-tools-duckduckgo
json-repair
llama-index-postprocessor-colbert-rerank
llama-index-storage-docstore-mongodb